{% extends "base.html" %}
{% block title %}Add Medicine{% endblock %}

{% block body %}

<style>
.form-card {
    background: white;
    max-width: 500px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 6px #cfd8e3;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    background: #0d6efd;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}
</style>

<div class="form-card">
    <h2>➕ Add Medicine</h2>

    <form method="POST">
        <input type="text" name="name" placeholder="Medicine Name" required>
        <input type="text" name="batch" placeholder="Batch" required>
        <input type="date" name="expiry" required>
        <input type="number" name="mrp" placeholder="MRP" required>
        <label>Discount (%)</label>
<input type="number" name="discount_percent"
       min="0" max="100" value="{{ medicine.discount_percent if medicine else 0 }}"
       required>

        <input type="number" name="qty" placeholder="Stock Qty" required>

        <button type="submit">Save Medicine</button>
    </form>
</div>

{% endblock %}
