{% extends "base.html" %}
{% block title %}Edit User{% endblock %}

{% block body %}
<style>
.card { background:#fff; padding:20px; border-radius:8px; width:520px; }
</style>

<div class="card">
<h3>Edit User - {{ user.username }}</h3>

<form method="post">

<label>Role</label>
<select name="role">
    <option value="admin" {% if user.role=='admin' %}selected{% endif %}>Admin</option>
    <option value="staff" {% if user.role=='staff' %}selected{% endif %}>Staff</option>
</select>

<hr>

<label><input type="checkbox" name="can_view_medicine"
{% if user.can_view_medicine %}checked{% endif %}> View Medicine</label><br>

<label><input type="checkbox" name="can_add_medicine"
{% if user.can_add_medicine %}checked{% endif %}> Add Medicine</label><br>

<label><input type="checkbox" name="can_edit_medicine"
{% if user.can_edit_medicine %}checked{% endif %}> Edit Medicine</label><br>

<label><input type="checkbox" name="can_delete_medicine"
{% if user.can_delete_medicine %}checked{% endif %}> Delete Medicine</label><br>

<label><input type="checkbox" name="can_edit_invoice"
{% if user.can_edit_invoice %}checked{% endif %}> Edit Invoice</label><br>

<label><input type="checkbox" name="can_delete_invoice"
{% if user.can_delete_invoice %}checked{% endif %}> Delete Invoice</label><br>

<label><input type="checkbox" name="can_view_stock_history"
{% if user.can_view_stock_history %}checked{% endif %}> Stock History</label><br>

<label><input type="checkbox" name="can_view_reports"
{% if user.can_view_reports %}checked{% endif %}> Reports</label><br>

<label><input type="checkbox" name="can_manage_users"
{% if user.can_manage_users %}checked{% endif %}> Users</label><br>

<br><br>
<button class="btn save">Save Changes</button>
<a href="/users">Cancel</a>

</form>
</div>
{% endblock %}
