<!DOCTYPE html>
<html>
<head>
<title>Print Stock Report</title>
</head>
<body onload="window.print()">

<h2>Pharmacy Stock Report</h2>
<hr>

<table border="1" cellpadding="10" width="100%">
    <tr>
        <th>Name</th>
        <th>Batch</th>
        <th>MRP</th>
        <th>Qty</th>
        <th>Expiry</th>
    </tr>

    {% for m in medicines %}
    <tr>
        <td>{{ m.name }}</td>
        <td>{{ m.batch }}</td>
        <td>{{ m.mrp }}</td>
        <td>{{ m.qty }}</td>
        <td>{{ m.expiry }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
